@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9752 0.0085 128.558);
  --foreground: oklch(0.3393 0.0323 139.7979);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3393 0.0323 139.7979);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3393 0.0323 139.7979);
  --primary: oklch(0.6781 0.2159 39.2941);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.6416 0.1018 136.7157);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.9619 0.0114 128.5929);
  --muted-foreground: oklch(0.5629 0.0277 147.0452);
  --accent: oklch(0.6781 0.2159 39.2941);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9133 0.0128 126.3821);
  --input: oklch(1 0 0);
  --ring: oklch(0.8704 0.0179 131.8935);
  --chart-1: oklch(0.6781 0.2159 39.2941);
  --chart-2: oklch(0.6416 0.1018 136.7157);
  --chart-3: oklch(0.8841 0.1565 100.6592);
  --chart-4: oklch(0.6017 0.0828 251.5259);
  --chart-5: oklch(0.7665 0.1387 91.0594);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.3393 0.0323 139.7979);
  --sidebar-primary: oklch(0.6781 0.2159 39.2941);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9619 0.0114 128.5929);
  --sidebar-accent-foreground: oklch(0.3393 0.0323 139.7979);
  --sidebar-border: oklch(0.9133 0.0128 126.3821);
  --sidebar-ring: oklch(0.8704 0.0179 131.8935);
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.2rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.1);
  --shadow:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.1),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.1),
    0rem 2px 4px -0.8px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.1),
    0rem 4px 6px -0.8px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.1),
    0rem 8px 10px -0.8px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2349 0.0159 141.1269);
  --foreground: oklch(0.9133 0.0128 126.3821);
  --card: oklch(0.2984 0.0194 142.0453);
  --card-foreground: oklch(0.9133 0.0128 126.3821);
  --popover: oklch(0.2984 0.0194 142.0453);
  --popover-foreground: oklch(0.9133 0.0128 126.3821);
  --primary: oklch(0.7287 0.1816 48.2697);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5375 0.0875 138.0372);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.376 0.0274 139.0003);
  --muted-foreground: oklch(0.7241 0.0198 137.81);
  --accent: oklch(0.7287 0.1816 48.2697);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.4539 0.0249 140.8315);
  --input: oklch(0.2984 0.0194 142.0453);
  --ring: oklch(0.5109 0.0242 140.8464);
  --chart-1: oklch(0.7287 0.1816 48.2697);
  --chart-2: oklch(0.5375 0.0875 138.0372);
  --chart-3: oklch(0.8511 0.1245 103.6632);
  --chart-4: oklch(0.6878 0.0794 252.4927);
  --chart-5: oklch(0.825 0.1112 90.6374);
  --sidebar: oklch(0.2984 0.0194 142.0453);
  --sidebar-foreground: oklch(0.9133 0.0128 126.3821);
  --sidebar-primary: oklch(0.7287 0.1816 48.2697);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.376 0.0274 139.0003);
  --sidebar-accent-foreground: oklch(0.9133 0.0128 126.3821);
  --sidebar-border: oklch(0.4539 0.0249 140.8315);
  --sidebar-ring: oklch(0.5109 0.0242 140.8464);
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0.2rem;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.15);
  --shadow-sm:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.3),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.3);
  --shadow:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.3),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.3);
  --shadow-md:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.3),
    0rem 2px 4px -0.8px hsl(0 0% 0% / 0.3);
  --shadow-lg:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.3),
    0rem 4px 6px -0.8px hsl(0 0% 0% / 0.3);
  --shadow-xl:
    0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.3),
    0rem 8px 10px -0.8px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0rem 0.2rem 0.5rem 0.2rem hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    body[data-scroll-locked][data-scroll-locked] {
      overflow: auto !important;
    }
    body[data-scroll-locked] {
      margin-right: 0 !important;
    }
  }
}
